@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  justify-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
}
section {
  width: 100%;
  background-image: url(./images/Rectangle.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #46485b;
  position: relative;
}
h1 {
  font-size: 18px;
  line-height: 23.81px;
  font-weight: 700px;
  padding-top: 50px;
  color: #fff;
  letter-spacing: 6.14px;
  text-align: center;
}
.p_text {
  font-size: 7px;
  font-weight: 700px;
  line-height: 9.26px;
  letter-spacing: 2.96px;
  color: #8385a9;
  padding-top: 10px;
}
.main_container {
  position: absolute;
  max-width: 327px;
  width: 100%;
}
.container {
  padding-top: 55px;
  max-width: 327px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 160px;
}
.main_box {
  max-width: 95px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 70px;
  height: 70px;
  background-color: #343650;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
footer {
  width: 100%;
  background-image: url(./images/Rectangle.svg);
  display: flex;
  justify-content: center;
  position: relative;
}
.icons_box {
  padding-top: 95px;
  padding-bottom: 50px;
  max-width: 136px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.footer_img {
  width: 100%;
}
.p_number {
  font-size: 36px;
  color: #fb5e84;
  font-weight: 700px;
  letter-spacing: -1.08px;
  line-height: 70px;
}
.footer_img_desktop {
  display: none;
}
/* @media (min-width: 600px) {
  .container {
    max-width: 390px;
    width: 100%;
  }
  .main_container {
    max-width: 390px;
    width: 100%;
  }
  .icons_box {
    max-width: 190px;
    width: 100%;
    padding-top: 160px;
  }
} */
@media (min-width: 1100px) {
  .box {
    width: 150px;
    height: 150px;
  }
  .container {
    max-width: 690px;
    width: 100%;
  }
  .main_container {
    max-width: 690px;
    width: 100%;
  }
  .p_number {
    font-size: 80px;
    font-weight: 700px;
    line-height: 71px;
  }
  .p_text {
    font-size: 14px;
    padding-top: 16px;
  }
  h1 {
    font-size: 22px;
  }
  br {
    display: none;
  }
  .footer_img {
    display: none;
  }
  .footer_img_desktop {
    display: block;
    width: 100%;
    height: ;
  }

  footer {
    position: relative;
  }
  .icons_box {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
